/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
    transition: all .3s;
}
a {
    color: var(--grey);
    text-decoration: none;
    transition: all .3s;
}
i {
    transition: all .3s;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; da scommentare alla fine */
}
/* Utility */
.p-relative {
    position: relative;
}
.over-y {
    overflow-y:auto;
}
.scale {
    transform: scale(.8);
    transition: all .3s;
}
/* Color styles */
:root {
    --dark-color: #141922;
    --dark-grey: #282828;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #717171;
    --light-grey: #c1c1c1;
    --contrast: #adff2f;
}
/* Backgrounds and colors */
.white-txt {
    color: var(--white);
}
.grey-txt {
    color: var(--grey);
}
.lightgrey-txt {
    color: var(--light-grey);
}
.bg-grey {
    background-color: var(--grey);
}
/* Text */
.text-center {
    text-align: center;
}
.up-text {
    text-transform: uppercase;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
/* Paddings and margins*/
.p15 {
    padding: 15px;
}
.p8-15{
    padding: 8px 15px;
}
.p-t10 {
    padding-top: 10px;
}
/* .p-b15{
    padding-bottom: 15px;
} */
.p-b10{
    padding-bottom: 10px;
}
.m-r35{
    margin-right: 35px;
}
.m-r--15 {
    margin-right: -15px;
}
.m-l--15 {
    margin-left: -15px;
}
/* buttons */
.btn {
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 2rem;
    border: 1px solid var(--white);
}
/* flexbox */
.d-flex {
    display: flex;
}
.col-now {
flex-flow: column nowrap;
}
.f-wrap{
    flex-wrap: wrap;
}
.just-center {
    justify-content: center;
}
.just-end {
    justify-content: flex-end;
}
.just-bet {
    justify-content: space-between;
}
.align-center {
    align-items: center;
    align-content: center;
}
/* Main */
main {
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
}
/* Main nav (left side column) */
.main-nav {
    width: 230px;
    min-height: 480px;
    background-color: var(black);
}
.main-nav .logo {
    display: block;
    width: 80%;
    margin: 8px 15px;
}
.small-logo {
    display: none;
}
.main-nav li {
    border-left: 3px hidden var(--contrast);
    transition: all 0.4s;
    padding: 5px 15px;
}
.main-nav a img {
    width: 2.5rem;
    padding-right: 0.5rem;
    filter: invert(.5);
}
.main-nav ul h4 {
    font-size: 1rem;
}
.main-nav h3 {
    font-size: 1.15rem;
}
.main-nav a i {
    font-size: 3rem;
    letter-spacing: .5rem;
}
.main-nav ul.over-y {
    height: 40vh;
}
.min-h114{
    min-height: 114px;
}
img.w-medium {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}  
.main-nav div.w-medium {
    margin-right: 10px;
}
.w-medium {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.main-nav hr {
    border: 1px solid var(--grey);
    background-color: var(--grey);
    margin: 5px 15px;
    transition: all .3s;
}
/* Main content */
.main-content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--dark-color);
}
/* Call to action (top bar) */
#call-to-action {
    height: 80px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Main section */
.main-section {
    margin-top: 80px;
    padding: 1rem;
}
/* nav-section */
.nav-section li hr {
    color: var(--contrast);
    width: 35%;
    margin: 3px auto;
    border: 2px solid var(--contrast);
    border-radius: 3px;
    background-color: var(--contrast);
    opacity: 0;
    transition: all .3s;
}
.nav-section ul {
    font-weight: 600;
}
/* Section-container */
.main-section .col {
    width: calc(100% / 6);
}
.col img {
    width: 100%;
    display: block;
    transition: all .5s;

}
.container .cover {
    cursor: pointer;
}
.container .cover .p-relative::after {
    font-family: "Font Awesome 6 Free";
    font-size: 3rem;
    content: '\f144';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
    opacity: 0;
}
.col h4 {
    font-size: .8rem;
}
.container h6 {
    font-weight: 400;
    color: var(--light-grey);
}
/* Rounded img */
.b-radius50 {
    border-radius: 50%;
    overflow: hidden;
}
.b-radius50 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Playbar */
#playbar {
    width:100%;
    height: 90px;
    background-color: var(--dark-grey);
}
#playbar .album, #playbar .vol {
    width: 232px;
}
#playbar .control {
    width: 40%;
}
.playing-cover{
    width: 4rem;
}
#playbar img {
    width: 100%;
}
.playing-title span.grey-txt {
    font-size: .7rem;
    font-weight: 500;
    transition: all .2s;
}
.control .white-txt i {
    font-size: 2rem;
    padding-left: 15px;
    cursor: pointer;
}
.control span {
    font-weight: 600;
    padding: 0 10px;
    font-size: .8rem;
}
.vol div i {
    padding-right: 5px;
}
#playbar .slider {
    width: 400px;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    height: 8px;
    background-image: linear-gradient(#717171, #717171);
    background-size: 20% 100%;
    background-repeat: no-repeat;
    transition: opacity .3s;
    cursor: pointer;
}
#playbar .slider.small-slider {
    width: 80px;
    height: 6px;
}
#playbar .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--light-grey);
    opacity: 0;
    transition: opacity .4s;
}
#playbar .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--light-grey);
}

/* Hover */
.btn:hover {
    transform: scale(1.13);
}
.nav-section li:hover hr, .nav-section li.active hr{
    opacity: 1;
}
li:hover a, .main-nav li.active a, #playbar i:hover, #playbar div.under-l:hover {
    filter: brightness(1.6);
}
.cover:hover .p-relative::after{
    opacity: 1;
}
.main-nav li:hover, .main-nav li.active {
    border-left: 3px solid var(--contrast);
}
.scale:hover {
    transform: scale(1);
}
.under-l:hover {
    text-decoration: underline;
    color: var(--white);
}
#playbar .slider:hover::-webkit-slider-thumb {
    opacity: 1;
}
#playbar .control .slider:hover {
    background-image: linear-gradient(#adff2f, #adff2f);
}




/* Responsive */
/* to 1200px */
@media screen and (max-width: 1200px) {
     /* Main section */
     .main-section .col {
        width: calc(100% / 4);
    }
}
/* to 992 */
@media screen and (max-width: 992px) {
    /* Main section */
    .main-section .col {
        width: calc(100% / 3);
    }
}

/* to 768 */
@media screen and (max-width: 768px) {
    /* Main section */
    .main-section .col {
        width: calc(100% / 2);
    }
    #playbar .control .slidecontainer  .slider{
        width: 100px;
       }
}

/* to 576 */
@media screen and (max-width:576px) {
    /* Main nav (left side column) */
    .main-nav {
        width: 70px;
}
    .main-nav>div>ul>li * :not(.persistent), .d-none, .d-none.logo {
        display: none;
    }
    .main-nav .small-logo {
        display: block;
        width: 2.5rem;
        margin: 8px auto;
        filter: invert(0.1);
    }
    /* Main section */
    .main-content {
       width: calc(100% - 70px);
    }
   /* Playbar */
   #playbar .vol {
        margin-right: 15px;
        flex-direction: column;
    }
   #playbar .control .slidecontainer .slider {
    width: 100px;
    }
    #playbar .p-relative:hover span.d-none {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        bottom: 50px;
        left: 0;
        background-color: var(--dark-grey);
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }
    #playbar .p-relative:hover div.d-none {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        bottom: 60px;
        left: 0;
        background-color: var(--dark-grey);
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
}

/* to 400 */
@media screen and (max-width:400px) {
    /* Main section */
    .main-section .col {
       width: 100%;
   }
   /* Playbar */
   #playbar .album, #playbar .vol {
    width: 70px;
   }
   .slider.small-slider {
    display: none;
   }
   #playbar .p-relative:hover .slider.small-slider {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        position: absolute;
        bottom: 45px;
        left: 0;
        width: 70px;
        height: 4px;
   }
}