/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
    padding: 15px;
}
a {
    color: var(--light-grey);
    text-decoration: none;
    transition: all .4s;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; da scommentare alla fine */
}
/* Utility */
.p-relative {
    position: relative;
}
/* Color styles */
:root {
    --dark-color: #141922;
    --dark-gray: #282828;
    --black: #000000;
    --white: #FFFFFF;
    --light-grey: #c1c1c1;
    --contrast: #adff2f;
}
/* Backgrounds and colors */
.white-txt {
    color: var(--white);
}
/* Text */
.text-center {
    text-align: center;
}
.up-text {
    text-transform: uppercase;
}
/* .under-l {
    text-decoration: underline;
} */
/* Paddings and margins*/
.p15 {
    padding: 15px;
}
.p-t10 {
    padding-top: 10px;
}
/* .p-b15{
    padding-bottom: 15px;
} */
.p-b10{
    padding-bottom: 10px;
}
.m-r35{
    margin-right: 35px;
}
.m-r--15 {
    margin-right: -15px;
}
.m-l--15 {
    margin-left: -15px;
}
/* buttons */
.btn {
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 2rem;
    border: 1px solid var(--white);
}
/* flexbox */
.d-flex {
    display: flex;
}
.f-wrap{
    flex-wrap: wrap;
}
.just-center {
    justify-content: center;
}
.just-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
    align-content: center;
}
/* Main */
main {
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
}
/* Main nav (left side column) */
.main-nav {
    width: 230px;
    min-height: 480px;
    background-color: var(black);
}
/* Main content */
.main-content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--dark-color);
}
/* Call to action (top bar) */
#call-to-action {
    height: 80px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Main section */
.main-section {
    margin-top: 80px;
    padding: 1rem;
}
/* nav-section */
.nav-section li a hr {
    color: var(--contrast);
    width: 35%;
    margin: 3px auto;
    border: 2px solid var(--contrast);
    border-radius: 3px;
    background-color: var(--contrast);
    opacity: 0;
    transition: all .4s;
}
/* Section-container */
.main-section .col {
    width: calc(100% / 6);
}
.col img {
    width: 100%;
    display: block;
    transition: all .5s;

}
.p-relative i, .p-relative.b-radius50 i {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    visibility: hidden;
    transition: all .5s;
}
.col h4 {
    font-size: .8rem;
}
.container h6 {
    font-weight: 400;
    color: var(--light-grey);
}
/* Rounded img */
.b-radius50 {
    border-radius: 50%;
    overflow: hidden;
}
.b-radius50 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Playbar */
#playbar {
    width:100%;
    height: 90px;
    background-color: var(--dark-gray);
}


/* Hover */
.btn:hover {
    transform: scale(1.13);
}
.nav-section li:hover hr {
    opacity: 1;
}
li:hover a{
    color: var(--white);
}
.col img:hover {
    filter: grayscale(25%);
}
.p-relative:hover i, .p-relative.b-radius50:hover i {
    visibility: visible;
}



/* Responsive */

/* to 992 */
@media screen and (max-width: 992px) {
    /* Main section */
    .main-section .col {
        width: calc(100% / 4);
    }
}

/* to 768 */
@media screen and (max-width: 768px) {
    /* Main section */
    .main-section .col {
        width: calc(100% / 2);
    }
}

/* to 576 */
@media screen and (max-width:576px) {
    /* Main nav (left side column) */
    .main-nav {
        width: 70px;
}
    /* Main section */
    .main-content {
       width: calc(100% - 70px);
   }
}

/* to 300 */
@media screen and (max-width:300px) {
    /* Main section */
    .main-section .col {
       width: 100%;
   }
}